<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<style>
    .class1{
    background: #444;
    color: #eee;
  }
</style>

<body>
    
<div id="app">
    {{5+5}}<br>
    {{message.split('').reverse().join('||')|capitalize}}<br>
    {{ok?'true':'no'}}<br>
    <label for="r1">修改颜色</label>
    
    <input type="checkbox" v-model="class1" id="r1">
    <br>
    <br>
    <div v-bind:class="{'class1': class1}">
            v-bind:class 指令
          </div>
    <br>
    <p v-if="class1">now you are seen me</p>
    <br>
    <br>
    <pre> <a :href="url">教程</a></pre>
    <br>
    <input v-model="message">  
    <br>
    <button v-on:click="reverseMessage">反转字符串</button>
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            class1:false,
            ok:true,
            message:'runoob',
            id:1,
            url:'http://www.runoob.com'
            },
        methods:{

            reverseMessage:function(){
                this.message=this.message.split('').reverse().join('')
                
            }
            },
        filters:{
            capitalize:function(val){
                if (!val) {
                    return ''
                }
                val=val.toString();
                return val.charAt(0).toUpperCase()+val.slice(1)
                }
        }

    });
</script>

</body>
</html>